@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body style="background: darkgrey">


<div class="text-center" style="background: black; color: white">
    <h1 class="display-4">Welcome to our WEBSITE</h1> <br/> <br/>

</div>

    <br />
    <br />
    <br />
    <br />

    <div class="text-center" >

        <h2>Login to Get started!   <button style="background-color: pink; color: white"> <a style="text-decoration:none" asp-page="/login">Get Started</a> </button></h2>


    </div>


</body>